/* Общие стили для body */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

body.dark-theme {
    background-color: #333;
    color: #f8f9fa;
}

/* Стили для header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
}

body.dark-theme .header {
    background-color: #3d3d3d;
    color: #f8f9fa;
}

.header .titles {
    text-align: center;
}

.header .left-title {
    font-size: 32px;
    font-weight: bold;
}

.header .right-title {
    font-size: 18px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.theme-switcher {
    position: absolute;
    right: 30px;
}

/* Стили для content */
.content {
    padding: 20px;
}

/* Стили для container-fluid и row */
.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

/* Стили для quiz-body */
.quiz-body {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-theme .quiz-body {
    background-color: #3d3d3d;
}

.quiz-body h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.option-block-container {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
    border: none;
}

/* Таймер */
.timer {
    padding-left: 15px;
}

.timer.ends {
    color: #dc3545;
}

/* Стили для кнопок */
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

body.dark-theme .btn {
    background-color: #2e4a68;
}

.btn:hover {
    background-color: #0056b3;
}

body.dark-theme .btn:hover {
    background-color: #1f2e3f;
}

.btn.correct {
    background-color: #28a745;
}

body.dark-theme .btn.correct {
    background-color: #367745;
}

.btn.incorrect {
    background-color: #dc3545;
}

body.dark-theme .btn.incorrect {
    background-color: #7c3940;
}


.hidden {
    display: none;
}

#result {
    text-align: center;
    margin-top: 20px;
}

/* Стили для анимации */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

/* Стили для скрытия элемента */
.hidden {
    display: none;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .left-title,
    .header .right-title {
        margin-bottom: 10px;
    }

    .row {
        flex-direction: column;
    }

    .quiz-body {
        padding: 15px;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}