@import url('vars.css');

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Общие стили для body */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-light-theme-dark);
    color: var(--color-dark-theme-dark);
}

body.dark-theme {
    background-color: var(--color-dark-theme-dark);
    color: var(--color-light-theme-light);
}

/* Стили для header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-theme-light);
    box-shadow: 0 0 10px var(--color-black-10);
    color: var(--color-black-75);
    padding: 15px 20px;
}

body.dark-theme .header {
    background-color: var(--color-dark-theme-light);
    color: var(--color-white-75);
}

.header .titles {
    text-align: center;
}

.header .left-title {
    font-size: 32px;
    font-weight: var(--weight-bold);
}

.header .right-title {
    font-size: 18px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.theme-switcher {
    position: absolute;
    right: 30px;
}

/* Стили для content */
.content {
    padding: 20px;
}

/* Стили для container-fluid и row */
.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

/* Стили для quiz-body */
.quiz-body {
    background-color: var(--color-light-theme-light);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-black-10);
}

body.dark-theme .quiz-body {
    background-color: var(--color-dark-theme-light);
}

.quiz-body h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.option-block-container {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
    border: none;
}

/* Таймер */
.timer {
    padding-left: 15px;
}

.timer.ends {
    color: var(--color-dark-theme-red);
}

/* Стили для кнопок */
.btn {
    background-color: var(--color-dark-theme-gray);
    color: var(--color-white-75);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

body.dark-theme .btn {
    background-color: var(--color-light-theme-gray);
}

.btn:hover {
    background-color: #0056b3;
}

body.dark-theme .btn:hover {
    background-color: #1f2e3f;
}

.btn.correct {
    background-color: #28a745;
}

body.dark-theme .btn.correct {
    background-color: #367745;
}

.btn.incorrect {
    background-color: #dc3545;
}

body.dark-theme .btn.incorrect {
    background-color: #7c3940;
}


.hidden {
    display: none;
}

#result {
    text-align: center;
    margin-top: 20px;
}

/* Стили для анимации */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

/* Стили для скрытия элемента */
.hidden {
    display: none;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .left-title,
    .header .right-title {
        margin-bottom: 10px;
    }

    .row {
        flex-direction: column;
    }

    .quiz-body {
        padding: 15px;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}